{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>
        .custom-gradient-bg {
            background: linear-gradient(to bottom, #ADD8E6, #0071A4);
        }
        .rounded-card {
            border-radius: 15px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid custom-gradient-bg py-5">
        <div class="container" >
            <div class="row justify-content-center">
                <div class="col-md-6"  >
                    <div class="card rounded-card" style="height: 85vh ; border-radius: 4px ; border-color: steelblue">
                        <div class="card-header bg-primary text-white">
                            <h1 class="text-center">Inscrire un étudiant</h1>
                        </div>
                        <div class="card-body">
                            {{ form_errors(registrationForm) }}
                            {{ form_start(registrationForm) }}
                            <div class="mb-3">
                                {{ form_row(registrationForm.firstName, {'label': 'Prénom', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.lastName, {'label': 'Nom', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.email, {'label': 'Adresse email', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.phone, {'label': 'Numéro de téléphone', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.plainPassword, {'label': 'Mot de passe', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="mb-3">
                                {{ form_row(registrationForm.campus, {'label': 'Campus', 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="d-grid text-center"> {# Utilisation de la classe Bootstrap pour centrer le bouton #}
                                <button type="submit" class="btn btn-primary" style="margin-top: 10%">Inscrire l'étudiant</button>
                            </div>
                            {{ form_end(registrationForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
