{% extends 'base.html.twig' %}

{% block body %}
{% if filterForm %}

    {{ form_start(filterForm , {'attr': {'id': 'formulaireFiltres' , 'class' : 'borderCards'}}) }}
        <div class="formsFlex">
            {{ form_row(filterForm.campus ) }}
            {{ form_row(filterForm.searchbar ) }}
        </div>
        <div class="formsFlex">
            {{ form_row(filterForm.startDate ) }}
            {{ form_row(filterForm.endDate ) }}
        </div>


        <div id="formulaireFiltresStatuses" class="formsFlex">
            {{ form_row(filterForm.status_filter ) }}
        </div>
         {{ form_widget(filterForm) }}
        <div style="display: flex ;justify-content: center">
             <button>Submit</button>
        </div>
    {{ form_end(filterForm) }}

 {% endif %}

 {{ include('inc/event.html.twig') }}

    <a href="{{ path('activity_create') }}" title=""><button class="btn btn-primary"></a>Créer une sortie</button>
{% endblock %}

{% block title %}

{% endblock %}
