{% extends 'base.html.twig' %}

{% block title %}Sortir.com | Accueil{% endblock %}


{% block body %}


{% if filterForm %}

    <img id="bg" class="img-fluid" src="{{ asset('img/background.jpg') }}" alt="background">
    <div class="form-container">
    {{ form_start(filterForm , {'attr': {'id': 'formulaireFiltres' }}) }}

            {{ form_row(filterForm.campus ) }}
            {{ form_row(filterForm.searchbar ) }}


            {{ form_row(filterForm.startDate ) }}
            {{ form_row(filterForm.endDate ) }}



            <div class="row">
                <div>{{form_label(filterForm.status_filter)}} </div>
                <div>{{ form_widget(filterForm.status_filter) }}</div>

            </div>
         {{ form_widget(filterForm) }}
        <div class="rechercher" style="display: flex ;justify-content: center">
             <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>

    </div>
    {{ form_end(filterForm) }}

 {% endif %}

 {{ include('inc/event.html.twig') }}

    <div class="create">
        <a href="{{ path('activity_create') }}" title=""><button class="btn btn-primary">Créer une sortie</button></a>
    </div>

{% endblock %}

