{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Liste des villes</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nom de la ville</th>
                <th>Code postal</th>
                <th class="text-right pr-4">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.id }}</td>
                    <td>{{ city.name }}</td>
                    <td>{{ city.zipCode }}</td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <!-- Bouton pour ouvrir la modal de modification -->
                            <button type="button" class="btn btn-warning btn-sm mr-2" data-toggle="modal" data-target="#modifyCityModal{{ city.id }}">
                                <i class="far fa-pen-to-square"></i>
                            </button>
                            <!-- Modal de modification -->
                            <div class="modal fade" id="modifyCityModal{{ city.id }}" tabindex="-1" role="dialog" aria-labelledby="modifyCityModalLabel{{ city.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modifyCityModalLabel{{ city.id }}">Modifier le nom de la ville</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ path('app_admincity_modify', {'id': city.id}) }}" method="post">
                                                <div class="form-group">
                                                    <label for="newCityName">Nouveau nom de la ville</label>
                                                    <input type="text" class="form-control" id="newCityName" name="newCityName" value="{{ city.name }}">
                                                </div>
                                                <div class="form-group">
                                                    <label for="newZipCode">Nouveau code postal</label>
                                                    <input type="text" class="form-control" id="newZipCode" name="newZipCode" value="{{ city.zipCode }}">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form action="{{ path('app_admincity_delete', {'id': city.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette ville ?');">
                                <button type="submit" class="btn btn-danger btn-sm mr-3"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a href="{{ path('app_adminapp_add_city') }}" class="btn btn-primary" style="background-color: #343a40;">Ajouter une ville</a>
    </div>
{% endblock %}
