{% extends 'base.html.twig' %}

{% block title %}Liste des campus{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Liste des campus</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th class="text-center">Nom du campus</th>
                <th class="text-right pr-4">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for campus in campuses %}
                <tr>
                    <td>{{ campus.id }}</td>
                    <td class="text-center">{{ campus.name }}</td> {# Ajout de la classe text-center #}
                    <td class="text-right">
                        <div class="d-flex justify-content-end">
                            <!-- Bouton pour ouvrir la modal de modification -->
                            <button type="button" class="btn btn-warning btn-sm mr-2" data-toggle="modal" data-target="#modifyCampusModal{{ campus.id }}">
                                <i class="far fa-pen-to-square"></i>
                            </button>
                            <!-- Modal de modification -->
                            <div class="modal fade" id="modifyCampusModal{{ campus.id }}" tabindex="-1" role="dialog" aria-labelledby="modifyCampusModalLabel{{ campus.id }}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modifyCampusModalLabel{{ campus.id }}">Modifier le nom du campus</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{{ path('app_adminapp_modify_campus', {'id': campus.id}) }}" method="post">
                                                <div class="form-group">
                                                    <label for="newCampusName">Nouveau nom du campus</label>
                                                    <input type="text" class="form-control" id="newCampusName" name="newCampusName" value="{{ campus.name }}">
                                                </div>
                                                <button type="submit" class="btn btn-primary">Enregistrer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <form action="{{ path('app_adminapp_delete_campus', {'id': campus.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce campus ?');">
                                <button type="submit" class="btn btn-danger btn-sm mr-3"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center mt-4">
        <a href="{{ path('app_adminapp_add_campus') }}" class="btn btn-primary" style="background-color: #343a40;">Ajouter un campus</a>
    </div>
{% endblock %}
