{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1 class="text-center mt-4 mb-4">Liste des utilisateurs</h1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.firstName }}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td class="d-flex align-items-center">
                        <a href="{{ path('user_modify', {'id': user.id}) }}" class="btn btn-warning btn-sm"><i class="far fa-pen-to-square"></i></a>
                        <form action="{{ path('app_adminapp_delete_user', {'id': user.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">
                            <button type="submit" class="btn btn-danger btn-sm ml-2"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div></div>
                <a href="{{ path('app_register') }}" class="btn btn-dark mt-3">Ajouter un utilisateur manuellement</a>
            </div>
        </div>
        <div class="col">
            <div class="text-center mt-4">
                <a href="{{ path('user_import_csv') }}" class="btn btn-outline-dark mb-3">Ajouter un utilisateur à partir d'un fichier CSV</a>
            </div>
        </div>
    </div>
{% endblock %}
