

{% extends 'base.html.twig'%}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/dynamicActivityCreationForm.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid custom-gradient-bg py-5">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-6"  >
                <div class="card rounded-card" style="height: auto ; min-width: 600px; border-radius: 4px ; border-color: steelblue">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center">Créer une sortie</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                        {{ form_start(activityForm)}}
                            <div class="col">
                                <div class="mb-3">
                                {{ form_row(activityForm.name)}}
                                </div>
                                <div class="mb-3">
                                {{ form_row(activityForm.startingDateTime) }}
                                </div>
                                <div class="mb-3">
                                {{ form_row(activityForm.inscriptionLimitDate) }}
                                </div>
                                <div class="mb-3">
                                {{ form_row(activityForm.maxInscription) }}
                                </div>
                                <div class="mb-3">
                                {{ form_row(activityForm.durationInMinutes) }}
                                </div>
                                <div class="mb-3">
                                    <label> Campus </label>
                                    <div class="form-control" >{{ app.user.campus.name }}</div>
                                </div>



                                <div class="mb-3">
                                    {{ form_row(activityForm.city)  }}
                                </div>

                                <div class="mb-3 place-div">
                                    {{ form_row(activityForm.place) }}
                                    <p class="hidden" id="place-introuvable">Il n'existe pas de lieu associé à cette
                                        ville pour
                                        l'instant
                                        !</p>
                                </div>

                                <div class="mb-3">
                                    {{ form_row(activityForm.adresse) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.zipcode) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.coordinates)}}
                                </div>

                                <div class="mb-3">
                                    {{ form_row(activityForm.description) }}
                                </div>



                                <div class="grid">
                                    <div class="row">
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            {{ form_row(activityForm.save) }}
                                        </div>
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            {{ form_row(activityForm.publish) }}
                                        </div>
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            <button type="submit" class="btn btn-secondary" style="margin-top: 10%"
                                                    onclick="redirectToHomePage()"
                                            >Retour à la liste</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
        {{ form_end(activityForm) }}

            </div>
            </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}