{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('scripts/dynamicActivityCreationForm.js') }}"></script>
    <script src="{{ asset('scripts/dynamicActivityModifyForm.js') }}"></script>
{% endblock %}
{% block body %}
<div class="container-fluid custom-gradient-bg py-5">
    <div class="container" >
        <div class="row justify-content-center">
            <div class="col-md-6"  >
                <div class="card rounded-card" style="height: auto ; min-width: 600px; border-radius: 4px ; border-color: steelblue">
                    <div class="card-header bg-primary text-white">
                        <h1 class="text-center">Modifier une sortie</h1>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            {{ form_start(activityForm) }}
                            <div class="col">
                                <div class="mb-3">
                                    {{ form_row(activityForm.name)}}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.startingDateTime) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.inscriptionLimitDate) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.maxInscription) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.durationInMinutes) }}
                                </div>
                                <div class="mb-3">
                                    <label> Campus </label>
                                    <div class="form-control" >{{ app.user.campus.name }}</div>
                                </div>



                                <div class="mb-3">
                                    {{ form_row(activityForm.city)  }}
                                </div>

                                <div class="mb-3">
                                    {{ form_row(activityForm.place) }}
                                    <p class="hidden" id="place-introuvable">Il n'existe pas de lieu associé à cette
                                        ville pour
                                        l'instant
                                        !</p>
                                    <!-- Bouton pour ouvrir la modal de modification -->

                                    <button type="button" class="btn btn-info btn-sm mr-2 mt-3 hidden"
                                            data-toggle="modal" data-target="#createPlaceModal" id="modal-button">
                                        <label for="modal-button" id="modal-button-label">Ajouter un lieu <i
                                                    class="fa-solid
                                        fa-plus"></i></label>

                                    </button>
                                </div>

                                <div class="mb-3">
                                    {{ form_row(activityForm.adresse) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.zipcode) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(activityForm.coordinates)}}
                                </div>



                                <div class="mb-3">
                                    {{ form_row(activityForm.description) }}
                                </div>

                                <div class="grid">
                                    <div class="d-flex justify-content-between" >
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            {{ form_row(activityForm.save) }}
                                        </div>
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            {{ form_row(activityForm.publish) }}
                                        </div>
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            <button   class="btn btn-danger" style="margin-top: 10%" onclick="supprimer({{ id }})">Supprimer</button>
                                        </div>
                                        <div class="col text-center">  {#Utilisation de la classe Bootstrap pour centrer le bouton#}
                                            <button type="submit" class="btn btn-secondary" style="margin-top: 10%"
                                                    onclick="redirectToHomePage()"
                                            >Retour</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ form_end(activityForm) }}

                    </div>
                    <div class="d-flex justify-content-end">
                        <!-- Modal de modification -->
                        <div class="modal fade" id="createPlaceModal" tabindex="-1" role="dialog" aria-labelledby="createPlaceModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createPlaceModalLabel">Créer un lieu</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                id="button-modal-close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="place-form">
                                            <div class="form-group">
                                                <label for="place-name">Nom du lieu</label>
                                                <input type="text" class="form-control" id="place-name" name="place-name">

                                                <label for="place-address">Adresse du lieu</label>
                                                <input type="text" class="form-control" id="place-address" name="place-address">

                                                <label for="place-latitude">Latitude</label>
                                                <input type="number" step="0.0000001" class="form-control"
                                                       id="place-latitude"
                                                       name="place-latitude">

                                                <label for="place-longitude">Longitude</label>
                                                <input type="number" step="0.0000001" class="form-control"
                                                       id="place-longitude"
                                                       name="place-longitude">


                                            </div>
                                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block title %}

{% endblock %}