 <div class="container">
        <table class="table align-middle mb-0 bg-white">
            <thead class="bg-light">
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrit/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
            <tr>
                <td>
                        <p class="fw-normal mb-1">{{ activity.name }}</p>
                </td>

                <td>
                        <p class="fw-normal mb-1">{{ activity.startingDateTime | date('d-m-Y H:i:s') }}</p>
                </td>

                <td>
                        <p class="fw-normal mb-1">{{ activity.inscriptionLimitDate | date('d-m-Y H:i:s') }}</p>
                </td>

                <td>
                        <p class="fw-normal mb-1">{{ activity.users.count}} / {{ activity.maxInscription }}</p>
                </td>

                <td>

                    {% if activity.state == 'Terminée' %}
                            <div class="badge badge-danger rounded-pill d-inline">{{ activity.state }}</div>
                        {% elseif activity.state == 'En Cours'%}
                            <div class="badge badge-primary rounded-pill d-inline">{{ activity.state }}</div>
                        {% elseif activity.state == 'En Création' %}
                            <div class="badge badge-secondary rounded-pill d-inline">{{ activity.state }}</div>
                        {% elseif activity.state == 'Ouverte' %}
                            <div class="badge badge-success rounded-pill d-inline">{{ activity.state }}</div>
                        {% elseif activity.state == 'Annulée' %}
                            <div class="badge badge-warning rounded-pill d-inline">{{ activity.state }}</div>
                        {% elseif activity.state == 'Historisée' %}
                            <div class="badge badge-dark rounded-pill d-inline">{{ activity.state }}</div>
                        {% elseif activity.state == 'Clôturée' %}
                            <div class="badge badge-info rounded-pill d-inline">{{ activity.state }}</div>
                        {% endif %}

                </td>
                <td>
                        <p class="fw-normal mb-1">X</p>
                </td>
                <td>
                        <div class="">{{ activity.planner.firstName }} {{ activity.planner.lastName }}</div>
                </td>
                <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                        Afficher
                    </button>
                    {% if not activity.users.contains(app.user)
                        and activity.state not in ['Annulée','Clôturée','Terminée']
                        and activity.users.count() < activity.maxInscription %}
                        <a href="{{ path('activity_register',{'id':activity.id}) }}">S'inscrire</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

